# Ignore datasets
dataset_raw/
dataset_yolo/
images/
labels/
Annotations/
JPEGImages/

# Ignore training artifacts
runs/detect/train/*.jpg
runs/detect/train/*.png
runs/detect/train/*.csv
runs/detect/train/args.yaml

# Models except best.pt
runs/**/last.pt

# Python cache
__pycache__/
*.pyc

# ENV
env/
venv/
.venv/
